<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Results</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Results</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/search/buscarConductor/mostrarResultados}" th:object="${tmio1Conductore}"
					method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="cedula" class="col-form-label">Cedula</label> <input
								type="text" th:field="*{cedula}" class="form-control"
								id="cedula" placeholder="tmio1Conductore.cedula"> <span
								th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"
								class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="apellidos" class="col-form-label">Apellidos</label> <input
								type="text" th:field="*{apellidos}" class="form-control" id="apellidos"
								placeholder="tmio1Conductore.apellidos"> <span
								th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"
								class="text-danger"></span>
						</div>
					<div class="form-group col-md-6">
							<label for="fechaContratacion" class="col-form-label">FechaContracion</label>
							<input type="date" th:field="*{fechaContratacion}"
								class="form-control" id="fechaContratacion"
								placeholder="tmio1Conductore.fechaContratacion"> <span
								th:if="${#fields.hasErrors('fechaContratacion')}"
								th:errors="*{fechaContratacion}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="fechaNacimiento" class="col-form-label">FechaNacimiento</label>
							<input type="date" th:field="*{fechaNacimiento}"
								class="form-control" id="fechaNacimiento"
								placeholder="tmio1Conductore.fechaNacimiento"> <span
								th:if="${#fields.hasErrors('fechaNacimiento')}"
								th:errors="*{fechaNacimiento}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="nombre" class="col-form-label">Nombre</label> <input
								type="text" th:field="*{nombre}" class="form-control" id="nombre"
								placeholder="tmio1Conductore.nombre"> <span
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
								class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<p class="my-5">
							<a href="/search/" class="btn btn-primary"><i
								class="fas fa-backward ml-2"></i>Go to menu search</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>